hypothesis >= 3.11.0
pytest >= 8.1

pytest-mock
# pytz is in fact a dep of swh.model[testing] and should not be necessary, but
# the dep on swh.model in the main requirements-swh.txt file shadows this one
# adding the [testing] extra.
swh.core[testing] >= 3.0.0
swh.model[testing] >= 6.14.0
pytz
pytest-postgresql
pytest-redis
pytest-xdist
types-python-dateutil
types-pytz
types-pyyaml
types-redis
types-requests
types-toml
