hypothesis >= 3.11.0
pytest
pytest-mock
sqlalchemy-stubs
# pytz is in fact a dep of swh.model[testing] and should not be necessary, but
# the dep on swh.model in the main requirements-swh.txt file shadows this one
# adding the [testing] extra.
swh.model[testing] >= 0.0.50
pytz
pytest-xdist
