Source: swh-storage
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-dateutil,
               python3-flask,
               python3-nose,
               python3-psycopg2,
               python3-requests,
               python3-setuptools,
               python3-swh.core (>= 0.0.17~),
               python3-vcversioner,
               python3-swh.scheduler,
               python3-click
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DSTO/

Package: python3-swh.storage
Architecture: all
Depends: python3-swh.core (>= 0.0.17~), ${misc:Depends}, ${python3:Depends}
Description: Software Heritage storage utilities
