Source: swh-storage
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-aiohttp,
               python3-all,
               python3-click,
               python3-dateutil,
               python3-flask,
               python3-hypothesis (>= 3.11.0~),
               python3-kafka,
               python3-psycopg2 (>= 2.8),
               python3-pytest,
               python3-pytest-postgresql,
               python3-pytest-mock,
               python3-requests,
               python3-setuptools,
               python3-sqlalchemy (>= 1.0),
               python3-swh.core (>= 0.0.65~),
               python3-swh.journal,
               python3-swh.model (>= 0.0.51~),
               python3-swh.objstorage (>= 0.0.17~),
               python3-tenacity,
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DSTO/

Package: python3-swh.storage
Architecture: all
Depends: python3-swh.core (>= 0.0.65~),
         python3-swh.model (>= 0.0.51~),
         python3-swh.objstorage (>= 0.0.17~),
         python3-psycopg2 (>= 2.8),
         ${misc:Depends},
         ${python3:Depends}
Breaks: python3-swh.archiver (<< 0.0.4~),
        python3-swh.indexer (<< 0.0.51~),
        python3-swh.vault (<< 0.0.19~)
Description: Software Heritage storage utilities
