#!/usr/bin/make -f

export SWH_CASSANDRA_LOGS=1
export PYBUILD_NAME=swh.storage
export PYBUILD_TEST_ARGS=-v -m "not db and not fs and not network" \
	--hypothesis-profile=fast ./swh/storage/tests \
	-p no:pytest_swh_storage

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -rfv $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/.hypothesis
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
